.app-container {
  border: 2px solid green;
}

.vads-c-header_nav-list {
  list-style: none;
}

.vads-c-header_nav-link {
  text-decoration: none;
}

.vads-c-header_nav-link:hover {
  text-decoration: none;
}

.active {
  display: block;
}

.non-active {
  display: none;
}
